main {
    width: 100%;
}

.addr__contents {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.addr__title {
    text-align: center;
    margin-bottom: 30px;
}

.addr__contents input {
    width: 40vw;
    margin-bottom: 60px;
    height: 2em;
}

.addr__contents button {
    display: flex;
    background: red;
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 2em;
    font-size: 1em;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}